/*=====Basic styles=====*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	margin: 50px 0;
	text-align: center;
}

.container {
	display: block;
	margin: 0 auto;
	width: 100%;
}

section {
	float: left;
	margin: 0 15px;
	border: 3px solid black;
	width: 30%;
	background-color: grey;

}

h3 {
	border-bottom: 3px solid black;
	border-left: 3px solid black;
	width: 100px;
	text-align: center;
	float: right;
}

p {
	padding: 10px;
	clear: both;
}
.chicken {
	background-color: #ff9999;
}
.beef {
	background-color: #cc2900;
}
.sushi {
	background-color: #ffdd99;
}
 
/*=====Media Queries=====*/

/* Desktop view */

@media (min-width: 992px) {
	section {
		width: 30%;
	}
}

/* Tablet view */

@media (min-width: 768px) and (max-width: 991px) {
	#col-1,
	#col-2 {
		width: 45%;
		float: left;
		margin: 0 auto;
		margin: 15px;

	}
	#col-3 {
		width: 93.5%;
		height: 150px;
		margin: 15px;
		float: left;
	}
}

/* Mobile view */

@media (max-width: 767px) {
	section {
		float: left;
		width: 95%;
		margin: 15px;
	}
}